@model IEnumerable<_4AHWII_WebProjekt_MasoodFabian.Models.BlogPost>

@{
    ViewData["Title"] = "Home Page";
}

<h1>Startseite</h1>

<p>
    @if (Context.Session.GetInt32("userId") != null)
    {
        var userId = Context.Session.GetInt32("userId");
    <p>
        Sie sind angemeldet als User mit der UserId @userId
    </p>
    }
    else
    {
    <p>
        Sessions noch nicht aktiviert
    </p>
    }
</p>

<div>
    <h2>Alle Blog-Posts</h2>
    <ul>
        @foreach (var post in Model)
        {
            <li>
                <h3>@post.Title</h3>
                <p>@post.Content</p>
                <p><small>Veröffentlicht am: @post.DatePosted</small></p>
            </li>
        }
    </ul>
</div>