@{
    ViewData["Title"] = "Home Page";
}

<h1>Startseite</h1>
<p>
    @if (Context.Session.GetInt32("userId") != null)
    {
        var userId = Context.Session.GetInt32("userId");
    <p>
        Sie sind angemeldet als User mit der UserId @userId
    </p>
    }
    else
    {
    <p>
        Sessions noch nicht aktiviert
    </p>
    }
</p>
