@model _4AHWII_WebProjekt_MasoodFabian.Models.User

@{
    ViewData["Title"] = "Register";
}

<div class="login-dark">
    <form method="post" action="register">
        <h2 class="sr-only">Register Form</h2>
        <div class="form-group"><input class="form-control" type="text" name="Username" placeholder="Benutzername"></div>
        <div class="form-group"><input class="form-control" type="email" name="Email" placeholder="Email"></div>
        <div class="form-group"><input class="form-control" type="password" name="Passwort" placeholder="Password"></div>
        <div class="form-group"><input class="form-control" type="text" name="Vorname" placeholder="Firstname"></div>
        <div class="form-group"><input class="form-control" type="text" name="Nachname" placeholder="Lastname"></div>
        <div class="form-group"><input class="form-control" type="number" name="Telefon" placeholder="Telefon"></div>
        <div class="form-group"><input class="form-control" type="text" name="Adresse" placeholder="Adresse"></div>
        <div class="form-group"><input class="form-control" type="date" name="Geburtsdatum" placeholder="Geburtsdatum"></div>
        <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Registrieren</button></div>
        <a href="Login" class="forgot">Jetzt Anmelden</a>
    </form>
</div>