<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - _4AHWII_WebProjekt_MasoodFabian</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/_4AHWII_WebProjekt_MasoodFabian.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="container-fluid p-5 text-center">
            Kopfbereich
        </div>
    </header>

    <nav>
        <partial name="Navigation" />
    </nav>

    <div class="container mt-2">
        <main role="main" class="row">
            @RenderBody()
        </main>
    </div>

</body>
</html>
