@model _4AHWII_WebProjekt_MasoodFabian.Models.User

@{
    ViewData["Title"] = "Login";
}

<div class="login-dark">
    <form asp-controller="Login" asp-action="Login" method="post" class="form">
        <table>
            <thead>
                <tr>
                    <th colspan="2">Login</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" asp-for="Username" placeholder="Username"/></td>
                    <td>
                        <span asp-validation-for="Username"></span>
                    </td>
                </tr>
                <tr>
                    <td><input type="password" asp-for="Passwort" placeholder="Passwort"/></td>
                    <td>
                        <span asp-validation-for="Passwort"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Login" />
                    </td>
                </tr>
            </tbody>
        </table>
        <p>
            Sie haben nock kein Konto? <br />
            <a asp-controller="Register" asp-action="Register">Jetzt Registrieren</a>
        </p>
    </form>
</div>

