@model _4AHWII_WebProjekt_MasoodFabian.Models.User

@{
    ViewData["Title"] = "Register";
}

<div class="login-dark">
    <form asp-controller="Register" asp-action="Register" method="post" class="form">
        <table>
            <thead>
                <tr>
                    <th colspan="2">Registrierung</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" asp-for="Username" placeholder="Username"/></td>
                    <td>
                        <span asp-validation-for="Username"></span>
                    </td>
                </tr>
                <tr>
                    <td><input type="password" asp-for="Passwort" placeholder="Passwort"/></td>
                    <td>
                        <span asp-validation-for="Passwort"></span>
                    </td>
                </tr>
                <tr>
                    <td><input type="email" asp-for="Email" placeholder="Email"/></td>
                    <td>
                        <span asp-validation-for="Email"></span>
                    </td>
                </tr>
                <tr>
                    <td><input type="text" asp-for="Vorname" rows="4" cols="30" placeholder="Vorname"></input></td>
                </tr>
                <tr>
                    <td><input type="text" asp-for="Nachname" rows="4" cols="30" placeholder="Nachname"></input></td>
                </tr>
                <tr>
                    <td><input type="tel" asp-for="Telefon" rows="4" cols="30" placeholder="Telefon"></input></td>
                </tr>
                <tr>
                    <td><input type="text" asp-for="Adresse" rows="4" cols="30" placeholder="Adresse"></input></td>
                </tr>
                <tr>
                    <td><input type="date" asp-for="Geburtsdatum" rows="4" cols="30" placeholder="Geburtsdatum"></input></td>
                    <td>
                        <span asp-validation-for="Geburtsdatum"></span>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" asp-for="Newsletter" rows="4" cols="30"></input> Newsletter</td>
                </tr>

                <tr>
                    <td>
                        <input type="submit" value="registrieren" />
                        <input type="reset" value="abbrechen" />
                    </td>
                </tr>
            </tbody>
        </table>
        <p>
            Sie haben bereits ein Konto? <br />
            <a asp-controller="Login" asp-action="Login">Jetzt Anmelden</a>
        </p>
    </form>
</div>