@model _4AHWII_WebProjekt_MasoodFabian.Models.User

@{
    ViewData["Title"] = "Register";
}

<div class="login-dark">
    <form asp-controller="Register" asp-action="Register" method="post" class="form">
        <table>
            <thead>
                <tr>
                    <th colspan="2">Registrierung</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" asp-for="Username" placeholder="Username" /></td>
                    <td><span asp-validation-for="Username" class="text-danger"></span></td>
                </tr>
                <tr>
                    <td><input type="password" asp-for="Passwort" placeholder="Passwort" /></td>
                    <td><span asp-validation-for="Passwort" class="text-danger"></span></td>
                </tr>
                <tr>
                    <td><input type="email" asp-for="Email" placeholder="Email" /></td>
                    <td><span asp-validation-for="Email" class="text-danger"></span></td>
                </tr>
                <tr>
                    <td><input type="text" asp-for="Vorname" placeholder="Vorname" /></td>
                </tr>
                <tr>
                    <td><input type="text" asp-for="Nachname" placeholder="Nachname" /></td>
                </tr>
                <tr>
                    <td><input type="tel" asp-for="Telefon" placeholder="Telefon" /></td>
                </tr>
                <tr>
                    <td><input type="text" asp-for="Adresse" placeholder="Adresse" /></td>
                </tr>
                <tr>
                    <td><input type="date" asp-for="Geburtsdatum" placeholder="Geburtsdatum" /></td>
                    <td><span asp-validation-for="Geburtsdatum" class="text-danger"></span></td>
                </tr>
                <tr>
                    <td><input type="checkbox" asp-for="Newsletter" /> Newsletter</td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="registrieren" />
                        <input type="reset" value="abbrechen" />
                    </td>
                </tr>
            </tbody>
        </table>
        <p>
            Sie haben bereits ein Konto? <br />
            <a asp-controller="Login" asp-action="Login">Jetzt Anmelden</a>
        </p>
    </form>
</div>